{% extends "base.html" %}

{% load static %}



{% block main %}

<main>
    <article class="article">
      <header class="article__header">
        <div class="container">
          <h1 class="article__heading heading heading--size-large">Services</h1>
        </div>
      </header>
      <div class="article__single-service-image container" data-aos="fade">
        <img src="{% static 'img/picture/single-services/hero.jpg' %}" srcset="{% static 'img/picture/single-services/hero@2x.jpg' %} 2x" width="1110" height="538" alt="">
      </div>
      <div class="article__main article__main--width-small container">
        <div class="single-service-block">
          <h2 data-aos="fade">Methods for Everyone</h2>
          <p data-aos="fade">Everything along the way, to and from, fascinated her: every pebble, ant, stick, leaf, blade of grass, and crack in the sidewalk was something to be picked up, looked at, tasted, smelled, and shaken. Everything was interesting to her. She knew nothing. I knew everything…been there, done that. She was in the moment, I was in the past. She was mindful. I was mindless.</p>
          <p data-aos="fade">One touch of a red-hot stove is usually all we need to avoid that kind of discomfort in the future. The same is true as we experience the emotional sensation of stress from our first instances of social rejection or ridicule. We quickly learn to fear and thus automatically avoid potentially stressful situations of all kinds, including the most common of all: making mistakes.</p>
        </div>
        <div class="single-service-block" data-aos="fade">
          <img src="{% static 'img/picture/single-services/drawing.jpg' %}" srcset="{% static 'img/picture/single-services/drawing@2x.jpg' %} 2x" width="730" height="405" alt="">
        </div>
        <div class="single-service-block">
          <h2 data-aos="fade">Culture</h2>
          <p data-aos="fade">Everything along the way, to and from, fascinated her: every pebble, ant, stick, leaf, blade of grass, and crack in the sidewalk was something to be picked up, looked at, tasted, smelled, and shaken. Everything was interesting to her. She knew nothing. I knew everything…been there, done that. She was in the moment, I was in the past. She was mindful. I was mindless.</p>
        </div>
        <div class="single-service-block">
          <h2 data-aos="fade">Work</h2>
          <p data-aos="fade">One touch of a red-hot stove is usually all we need to avoid that kind of discomfort in the future. The same is true as we experience the emotional sensation of stress from our first instances of social rejection or ridicule. We quickly learn to fear and thus automatically avoid potentially stressful situations of all kinds, including the most common of all: making mistakes.</p>
        </div>
        <section class="article__feedback feedback">
          <h2 class="feedback__heading heading" data-aos="fade">Live a reply</h2>
          <form class="js-form-validate" action="https://ultimatewebsolutions.net/larson/php/mail.php" method="POST">
            <div class="row">
              <div class="feedback__field-wrapper col-12 col-md-6" data-aos="fade">
                <label class="field" aria-label="Name">
                  <input type="text" name="name" placeholder="Name*" required>
                </label>
                <div class="field-error" style="display: none"></div>
              </div>
              <div class="feedback__field-wrapper col-12 col-md-6" data-aos="fade">
                <label class="field" aria-label="Email">
                  <input type="email" name="email" placeholder="Email*" required>
                </label>
                <div class="field-error" style="display: none"></div>
              </div>
              <div class="feedback__field-wrapper col-12" data-aos="fade">
                <label class="field" aria-label="Comment">
                  <textarea name="comment" placeholder="Comment"></textarea>
                </label>
                <div class="field-error" style="display: none"></div>
              </div>
            </div>
            <button class="btn" type="submit" data-aos="fade">Post comment</button>
          </form>
        </section>
      </div>
    </article>
  </main>



{% endblock main %}